@model Memo.Mvc.RequestModels.LoginRequestModel

<div class="container-fluid">
    <div class="col-md-4 offset-md-4">
        <div class="form-container">
            <div class="form-icon"><i class="fa fa-user"></i></div>
                <h3 class="title">Authorization in Memo</h3>
            <form class="form-horizontal" asp-action="Login" asp-controller="Auth">
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input class="form-control" type="email" placeholder="email address" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                    </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input class="form-control" type="password" placeholder="password" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <input type="submit" class="btn btn-default" value="Login"/>
            </form>
            <a asp-action="Register" asp-controller="Auth">Don't have an account yet? Register</a></div>
    </div>
</div>