<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Memo</title>
</head>
<body>
<div>
    @RenderBody()
</div>
<footer>
    <hr/>
    © Dmitry Vlasenko, @DateTime.Now.Year
</footer>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>